  /* 탭바를 고정시킴 */
  .fixed-tabbar {
    position: fixed; /* 고정 위치 */
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    border-top: 1px solid #e1e1e1;
    z-index: 9999; /* 탭바를 가장 위로 설정 */
  }